extends ../pug/base

block title
    | Главная

block main
    //-- header --//
    .wrap-head
        include ../pug/main-blocks/header/header.pug

    .wrap-main
    
    //-- footer -- //
    include ../pug/main-blocks/footer/footer.pug
